* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-image-container {
  display: flex;
  width: 100%;
  background-color: rgb(6, 129, 190);
  height: 40vh;

}

.homepage-img {
  background: url("../images/Breaking-news.jpg") no-repeat;
  width: 70%;
  background-size: cover;
  background-position: center;
  border-right: 1px solid #fff;
}

.homepage-content {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.homepage-text {
  font-size: 25pt;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  line-height: 25px;
}

.headlines {
 font: italic;
 align-self: flex-start;
 font-size: 20pt;
 font-weight: 100;
}

.search-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(187, 20, 20);
    font-size: 20px;
    color: #fff;
}

.search-news {
    background-color: transparent;
    border: none;
    width: 30%;
    color: #fff;
    padding: 5px;
    margin-right: 6px;
}
.search-news::placeholder {
    color: #fff;
    font-size: 15px;
}

.search-btn {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
}

.subnews-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 2 columns */
  border: 1px solid #fff;
  width: 100%; /* Set a fixed width or adjust as needed */
}

.subnews-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  height: 250px;
  width: 100%;
}

.img-container {
  position: relative;
  width: 100%;
  
}

.subnews-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.button-new-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the text perfectly */
  background-color: rgba(0, 0, 0, 0.6); /* Background color with opacity */
  
}

.action-button {
  border: none;
  background-color: transparent;
  align-self: flex-end;
  color: #fff;
  font-size: 42px;
  font-weight: 400;
  cursor: pointer;
}

.news-content {
    align-self: flex-end;
    font-size: 20px;
    font-weight: 700;
    width: 70%;
    text-align: right;
}

.news-author {
  align-self: flex-end;
  font-size: 13px;
  font-weight: 500;
  text-align: right;
}

.footer {
  color: #3498db;
  background-color: #fff;
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem 0;
}

@media (max-width: 700px) {
  /* Your CSS rules for phones go here */
  .news-image-container {
    height: 30vh; /* Adjust the height for smaller screens */
  }

  .subnews-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
  }

  .homepage-img {
    width: 100%; /* Make the image take up the full width */
    background-position: right;
  }

  .homepage-content {
    padding-left: 5px;
  }

  .homepage-text {
    font-size: 16pt; /* Reduce font size for smaller screens */
  }

  .headlines {
    font-size: 13pt; /* Reduce font size for smaller screens */
  }

  .search-content {
    height: auto; /* Allow the search content to expand vertically */
  }

  .search-news {
    width: 100%; /* Make the input take up the full width */
  }

  .footer {
    font-size: 16pt;
    padding: 1rem 0;
  }
}
